/dts-v1/;

/ {
    model = "nintendo,wiiu";
    compatible = "nintendo,wiiu";

    #address-cells = <1>;
    #size-cells = <1>;

    memory {
        device_type = "memory";
        reg = <0x00000000 0x02000000        /* MEM1 - 32MB */
               0x10000000 0x80000000>;      /* MEM2 - 2GB  */
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        udbg_reserved: udbg@178C0000 {
            reg = <0x178C0000 0x1C0000>;
            no-map;
        };
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        PowerPC,espresso@0 {
            device_type = "cpu";
            reg = <0>;

            clock-frequency = <1243125000>;     /* 1.243125GHz */
            bus-frequency = <248625000>;        /* 248.625MHz core-to-bus 5x */
            timebase-frequency = <62156250>;    /* This value is probably quite wrong, it's only an approximation */

            i-cache-line-size = <32>;
            d-cache-line-size = <32>;
            i-cache-size = <32768>;             /* very wrong */
            d-cache-size = <32768>;             /* very wrong */
        };
    };

    latte {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "nintendo,latte";
        ranges = <0x0c000000 0x0c000000 0x00400000      /* Espresso registers */
                  0x0d000000 0x0d000000 0x00200000      /* Latte deivces */
                  0x0d800000 0x0d800000 0x00800000>;    /* Latte registers */

        espresso_pic: pic@0c000000 {
            #interrupt-cells = <1>;
            interrupt-controller;

            compatible = "nintendo,espresso-pic";
            reg = <0x0c000000 0x8c>;
        };

        gx2: gx2@0c200000 {
            compatible = "nintendo,wiiufb";
            reg = <0x0c200000 0x10000>;
        };

        ehci_0: usb@0d040000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d040000 0x100>;
            interrupts = <4>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
        };

        ehci_1: usb@0d120000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d120000 0x100>;
            interrupts = <16>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
        };

        latte_ahball_pic: pic@0d800440 {
            #interrupt-cells = <1>;
            interrupt-controller;

            compatible = "nintendo,latte-ahball-pic";
            reg = <0x0d800440 0x10>;
            interrupt-parent = <&espresso_pic>;
            interrupts = <24>;
        };

        /* this doesn't quite work yet, disabling for now
        sata: sata@0d160400 {
            compatible = "generic-ahci";
            reg = <0x0d160400 0xfc00>;

            interrupt-parent = <&latte_ahball_pic>;
            interrupts = <7>;
        };*/
    };
};
