/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
    model = "nintendo,wiiu";
    compatible = "nintendo,wiiu";

    #address-cells = <1>;
    #size-cells = <1>;

    chosen {
        bootargs = "root=/dev/sda1 rootwait";
    };

    memory {
        device_type = "memory";
        reg = <0x00000000 0x02000000        /* MEM1 - 32MB */
               0x10000000 0x80000000>;      /* MEM2 - 2GB  */
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        framebuffer: vram@0x01C00000 {
            compatible = "shared-dma-pool";
            no-map;

            reg = <0x01C00000 0x00400000>; /* 8 MiB */
        };

        /*Ranges aped from wii-linux-ngx*/
        usb_dma: buffer@0x13000000 {
            compatible = "shared-dma-pool";
            no-map;

            reg = <0x13000000 0x00400000>; /* 8 MiB (512K*7 HCDs+512K spare) */
        };
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        PowerPC,espresso@0 {
            device_type = "cpu";
            reg = <0>;
            clock-frequency = <1243125000>;     /* 1.243125GHz */
            bus-frequency = <248625000>;        /* 248.625MHz core-to-bus 5x */
            timebase-frequency = <62156250>;    /* 1/4 of the bus clock */
            i-cache-size = <32768>; /* 32K icache */
            i-cache-line-size = <32>;
            i-cache-block-size = <32>;
            i-cache-sets = <128>;
            d-cache-size = <32768>; /* 32K dcache */
            d-cache-line-size = <32>;
            d-cache-block-size = <32>;
            d-cache-sets = <128>;
            next-level-cache = <&L2_0>;
            L2_0:l2-cache {
                compatible = "cache";
                cache-level = <2>;
                cache-unified;
                cache-size = <0x80000>; /* 512KB L2 */
                cache-line-size = <64>;
                cache-block-size = <32>;
                cache-sets = <2048>;
            };
        };
    };

    latte {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "nintendo,latte";
        ranges = <0x0c000000 0x0c000000 0x00400000      /* Espresso registers */
                  0x0d000000 0x0d000000 0x00200000      /* Latte deivces */
                  0x0d800000 0x0d800000 0x00800000>;    /* Latte registers */

        espresso_pic: pic@0c000078 {
            #interrupt-cells = <1>;
            interrupt-controller;

            compatible = "nintendo,espresso-pic";
            reg = <0x0c000078 0x18>;
        };

        fb_0: fb@0c206000 {
            compatible = "nintendo,wiiufb";
            reg = <0x0c206100 0x800>;
            memory-region = <&framebuffer>;

            default-width = <1280>;
            default-height = <720>;
        };

        fb_1: fb1@0c207000 {
            compatible = "nintendo,wiiufb";
            reg = <0x0c206900 0x800>;
            memory-region = <&framebuffer>;

            default-width = <854>;
            default-height = <480>;
        };

        /*gpu7@0c200000 {
            compatible = "nintendo,gpu7";
            #address-cells = <1>;
            #size-cells = <1>;
        };*/ //One day

        sdcard_0: sdhci@0d070000 {
            compatible = "nintendo,wiiu-sdhci";
            reg = <0x0d070000 0x200>;
            interrupts = <7>;
            interrupt-parent = <&latte_ahball_pic>;
        };

        wifi_0: sdhci@0d080000 {
            compatible = "nintendo,wiiu-sdhci";
            reg = <0x0d080000 0x200>;
            interrupts = <8>;
            interrupt-parent = <&latte_ahball_pic>;
        };

        gpio: gpio@0d8000c0 {
            #gpio-cells = <2>;
            compatible = "nintendo,latte-gpio", "nintendo,hollywood-gpio";

            reg = <0x0d8000c0 0x40>;
            gpio-controller;
            /* TODO: we do have a few more gpios */
            ngpios = <24>;

            gpio-line-names =
                "POWER", "DWIFI", "FAN", "DC_DC",
                "", "Esp10WorkAround", "", "",
                "PADPD", "", "EEP_CS", "EEP_CLK",
                "EEP_MOSI", "EEP_MISO", "AVE_SCL", "AVE_SDA",
                "DEBUG0", "DEBUG1", "DEBUG2", "DEBUG3",
                "DEBUG4", "DEBUG5", "DEBUG6", "DEBUG7";

            interrupt-controller;
            #interrupt-cells = <2>;
            interrupts = <10>;
            interrupt-parent = <&latte_ahball_pic>;
        };

        gpio2: gpio2@0d8000c0 {
            #gpio-cells = <2>;
            compatible = "nintendo,latte-gpio", "nintendo,hollywood-gpio";

            reg = <0x0d800520 0x40>;
            gpio-controller;
            ngpios = <7>;

            gpio-line-names =
                "FANSPEED", "SMC_SCL", "SMC_SDA", "DC_DC2",
                "AVE_INT", "", "AVE_RESET";

            interrupt-controller;
            #interrupt-cells = <2>;
            interrupts = <10>;
            interrupt-parent = <&latte_ahball_pic>;
        };

        ehci_0: usb@0d040000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d040000 0x100>;
            interrupts = <4>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        ohci_0_0: usb@0d050000 {
            compatible = "nintendo,ohci-wiiu";
            reg = <0x0d050000 0x100>;
            interrupts = <5>;
            interrupt-parent = <&latte_ahball_pic>;

            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        ohci_0_1: usb@0d060000 {
            compatible = "nintendo,ohci-wiiu";
            reg = <0x0d060000 0x100>;
            interrupts = <6>;
            interrupt-parent = <&latte_ahball_pic>;

            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        ehci_1: usb@0d120000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d120000 0x100>;
            interrupts = <16>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        ohci_1_0: usb@0d130000 {
            compatible = "nintendo,ohci-wiiu";
            reg = <0x0d130000 0x100>;
            interrupts = <35>;
            interrupt-parent = <&latte_ahball_pic>;

            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        ehci_2: usb@0d140000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d140000 0x100>;
            interrupts = <36>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        ohci_2_0: usb@0d150000 {
            compatible = "nintendo,ohci-wiiu";
            reg = <0x0d150000 0x100>;
            interrupts = <37>;
            interrupt-parent = <&latte_ahball_pic>;

            big-endian-regs;
            memory-region = <&usb_dma>;
        };

        latte_ipc: ipc@0d800000 {
            compatible = "nintendo,latte-ipc";
            reg = <0x0d800000 0x10>;
        };

        latte_ahball_pic: pic@0d800440 {
            #interrupt-cells = <1>;
            interrupt-controller;

            compatible = "nintendo,latte-ahball-pic";
            reg = <0x0d800440 0x30>;
            interrupt-parent = <&espresso_pic>;
            interrupts = <24>;
        };

        latte_otp: otp@0d800000 {
            compatible = "nintendo,latte-otp";
            reg = <0x0d8001ec 0x8>;
        };

        latte_aes: aes@0d020000 {
            compatible = "nintendo,latte-aes";
            reg = <0x0d020000 0x14>;
        };

        sata: sata@0d160400 {
            compatible = "nintendo,latte-ahci";
            reg = <0x0d160400 0x808>;

            interrupt-parent = <&latte_ahball_pic>;
            interrupts = <38>; //IRQ 7 may be DBGINTs only
        };
    };

    /* TODO make this gpio-keyed once hollywood-gpio supports interrupts */
    gpio-keys-polled {
        poll-interval = <50>;
        compatible = "gpio-keys-polled";

        power {
            label = "Power Button";
            gpios = <&gpio 0 GPIO_ACTIVE_HIGH>;
            linux,code = <KEY_POWER>;
        };
    };
};
