/dts-v1/;

/ {
    model = "nintendo,wiiu";
    compatible = "nintendo,wiiu";

    #address-cells = <1>;
    #size-cells = <1>;

    chosen {
        bootargs = "root=/dev/mmcblk0p2 rootwait";
    };

    memory {
        device_type = "memory";
        reg = <0x00000000 0x02000000        /* MEM1 - 32MB */
               0x10000000 0x80000000>;      /* MEM2 - 2GB  */
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        PowerPC,espresso@0 {
            device_type = "cpu";
            reg = <0>;
            clock-frequency = <1243125000>;     /* 1.243125GHz */
            bus-frequency = <248625000>;        /* 248.625MHz core-to-bus 5x */
            timebase-frequency = <62156250>;    /* 1/4 of the bus clock */
            i-cache-size = <32768>; /* 32K icache */
            i-cache-line-size = <32>;
            i-cache-block-size = <32>;
            i-cache-sets = <128>;
            d-cache-size = <32768>; /* 32K dcache */
            d-cache-line-size = <32>;
            d-cache-block-size = <32>;
            d-cache-sets = <128>;
            next-level-cache = <&L2_0>;
            L2_0:l2-cache {
                compatible = "cache";
                cache-level = <2>;
                cache-unified;
                cache-size = <0x80000>; /* 512KB L2 */
                cache-line-size = <64>;
                cache-block-size = <32>;
                cache-sets = <2048>;
            };
        };
    };

    latte {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "nintendo,latte";
        ranges = <0x0c000000 0x0c000000 0x00400000      /* Espresso registers */
                  0x0d000000 0x0d000000 0x00200000      /* Latte deivces */
                  0x0d800000 0x0d800000 0x00800000>;    /* Latte registers */

        espresso_pic: pic@0c000078 {
            #interrupt-cells = <1>;
            interrupt-controller;

            compatible = "nintendo,espresso-pic";
            reg = <0x0c000078 0x18>;
        };

        gx2: gx2@0c200000 {
            compatible = "nintendo,wiiufb";
            reg = <0x0c200000 0x10000>;
        };

        sdcard_0: sdhci@0d070000 {
            compatible = "nintendo,wiiu-sdhci";
            reg = <0x0d070000 0x200>;
            interrupts = <7>;
            interrupt-parent = <&latte_ahball_pic>;
        };

        wifi_0: sdhci@0d080000 {
            compatible = "nintendo,wiiu-sdhci";
            reg = <0x0d080000 0x200>;
            interrupts = <8>;
            interrupt-parent = <&latte_ahball_pic>;
        };

        ehci_0: usb@0d040000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d040000 0x100>;
            interrupts = <4>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
        };

        ohci_0_0: usb@0d050000 {
            compatible = "nintendo,ohci-wiiu";
            reg = <0x0d050000 0x100>;
            interrupts = <5>;
            interrupt-parent = <&latte_ahball_pic>;

            big-endian-regs;
        };

        ohci_0_1: usb@0d060000 {
            compatible = "nintendo,ohci-wiiu";
            reg = <0x0d060000 0x100>;
            interrupts = <6>;
            interrupt-parent = <&latte_ahball_pic>;

            big-endian-regs;
        };

        ehci_1: usb@0d120000 {
            compatible = "nintendo,ehci-wiiu", "usb-ehci";
            reg = <0x0d120000 0x100>;
            interrupts = <16>;
            interrupt-parent = <&latte_ahball_pic>;
            big-endian-regs;
        };

        latte_ipc: ipc@0d800000 {
            compatible = "nintendo,latte-ipc";
            reg = <0x0d800000 0x10>;
        };

        latte_ahball_pic: pic@0d800440 {
            #interrupt-cells = <1>;
            interrupt-controller;

            compatible = "nintendo,latte-ahball-pic";
            reg = <0x0d800440 0x30>;
            interrupt-parent = <&espresso_pic>;
            interrupts = <24>;
        };

        /* this doesn't quite work yet, disabling for now
        sata: sata@0d160400 {
            compatible = "generic-ahci";
            reg = <0x0d160400 0xfc00>;

            interrupt-parent = <&latte_ahball_pic>;
            interrupts = <7>;
        };*/
    };
};
